 @media(max-width: 600px){
.home{
    font-size: 65px;
}
}
.second{
    width: 10px;
    height: 10px;
} 
.star{
    width: 10px;
    height: 10px;
}
.footer{
margin-bottom: 60px;
height: 50px;
width: 10px;
}

    
