body{
    /* background-color:  #3CA6A6; */
    background-color: #F2E3D5;;
}
.main{
    background-image: url(fIR.jpg);
    height: 100vh;
    width: 100%;
    border-radius: 8%;
}
.homepage{
    
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100px;

}
nav{
   text-align: center;
   gap: 100%;
    
}
.simple{
    text-align: center;
    color: white;
}
.home{
    text-align: center;
    color: white;  
    font-size: 90px; 
    font-weight: 20px;
}
.h{
    color: blue;
}


#lunch{
    padding-right: 30px
}

 #icons2{
        
    margin-left: 20%;
    }

#all icons{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    
}
/* ..beds{
    display: flex; */

/* } */
.second{
    display: flex;
    width: 20px;
    box-shadow: 10px;
}
.third{
    display: flex;
}
.food{
    display: flex;
}
.goodfood{
    display: flex;
}
.client{
    display: flex;
    border-radius: 50px;
    margin-left: 50px;
}
.image{
    border-radius: 50px;
    margin-left: 50px;
}
.buttons{
    display: flex;
}
.Hotels{
    display: flex;
}
.footer{
    display: flex;
    gap: 100PX;
    padding: 5%;
}
.NEWS{
    background-color: blue;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
    color: white;
}
#buttons{
    /* background-color: blue; */
    /* border-radius: 20px;/ */
}
#button{
     background-color: blue;
    border-radius: 20px;
    border-radius: none;
     border-radius: 20px; 
}
#BUTTON{
    background-color: blue;
    border: none;
    border-radius: 20px;

}
.firstimages{
    border: none;
}
#LAST{
    border-radius: 20px;
    background-color: cornsilk;
    
    
}
#Bclints{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
}
.seco{
    margin-top: 20%;
    text-align: center;
    font-size: larger;
}
#POP{
    font-size: larger;
    margin-bottom: 20%;

}
#BUTN{
    border-radius: 20px;
    background-color: cornflowerblue;
    padding: 10px;
}
#firstimages{
    padding: 20px;
}
.icons img{
    height: 15%;
    width: 15%;
}
#wifi{
    height: 50%;
    width: 21%;
}
#lunch{
    height: 10%;
    width: 16%;
}
#break{
    height: 10%;
    width: 12%;
}
#SI{
    border-radius: 20%;
    background-color: blue;

}
#lo{
    border-radius: 20%;
    background-color: blue;
}


/* @media(min-width: 1281px){ */

/* } */
/* @media(min-width: 2025px)and(max-width:1280p){ */
    
/* } */
